@model IEnumerable<BusApplication.Models.BusData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Measurement_Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buses.BusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Measurement_Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buses.BusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
